.up{
	background: red;
	top: 200px;
	left: 200px;
}


@media (min-width: 300px) and (max-width: 400px){
	.up{
		background: green;
	}
}

@media (min-width: 401px) and (max-width: 600px){
	.up{
		background: blue;
	}
}

@media (min-width: 601px) and (max-width: 900px){
	.up{
		background: yellow;
	}
}